body{
	background-color: #061224;
	font-family: 'Roboto Mono', monospace;
	padding: 0;
	margin: 0;
	color: rgb(231, 231, 231);
}

.text{
	text-align: center;
}

.man-idk, .do-you-mind{
	height: auto;
	margin-bottom: 40px;
}

.man-idk{
	max-width: 200px;
	border-radius: 10px;
}

.do-you-mind{
	max-width: 350px;
	margin: 0;
	padding: 0;
}

h1 {
	color: #63FFDA;
}

p {
	margin: 10px;
	font-size: 15px;
}

span {
	color: yellow;
}

button{
	margin: 0;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	margin: auto;
	width: 90%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.message {
	padding: 10px;
	margin: 0;
	color: #061224;
	font-size: 15px;
}

#success {
	display: none;
	margin: 0;
	background-color: aquamarine;
	transition: 0.2s;
}

#fail {
	display: none;
	margin: 0;
	background-color: rgb(255, 255, 104);
	transition: 0.2s;
}

#email-validate {
	display: none;
	color: red;
}

input {
	background-color: transparent;
	color: white;
	outline: none;
	border: 1px solid #63FFDA;
	min-height: 30px;
	font-family: 'Roboto Mono', monospace;
	padding: 0px 10px;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 0;
}

button {
	background-color: #061224;
	color: #63FFDA;
	border: 1px solid #63FFDA;
	padding: 0px 10px;
	min-height: 33px;
	margin-left: 0;
	cursor: pointer;
	transition: 0.2s;
}

button:hover {
	background-color: #63FFDA;
	color: #061224;
	transform: scale(1.1);
}

.banner {
	padding: 10px;
	border: 1px solid yellow;
	max-width: 900px;
	margin: auto;
}